.login-bg{
    background-image: url(../images/image2.jpg);
}

.bacground-opacity{
    background-color: rgba(180, 146, 102, 0.993);
}

.form-control:focus {
    border-color: #6F4E37;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px 	rgba(111, 78, 55, .6);
  }