@font-face {
    font-family: IranSans;
    font-style: normal;
    src: 
    local(IranSans),
    url(../webfonts/IranSans.eot),
    url(../webfonts/IranSans.ttf) format(".truetype"),
    url(../webfonts/IranSans.woff) format(".woff");
}

body{
    /* font-family: IranSans !important; */
}

.rtl{
    text-align: right;
    direction: rtl;
}

/* .login-bg{
    background-image: url('../images/image2.jpg');
}

.bacground-opacity{
    background-color: rgba(180, 146, 102, 0.993);
}

.form-control:focus {
    border-color: #6F4E37;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px 	rgba(111, 78, 55, .6);
  }

  .sidebar {
    direction: rtl;
    text-align: right;
    width: 23vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all .3s;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    
}

.sidebar.active {
    right: 0;
}

.open-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 997;
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

a.btn-customized {
    margin-left: 5px;
    margin-right: 5px;
    padding: .75rem 1.5rem;
    background: #f35b3f;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
}

a.btn-customized:hover, 
a.btn-customized:active, 
a.btn-customized:focus, 
a.btn-customized:active:focus, 
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #cd533d;
    background: rgba(243, 91, 63, 0.7);
    border: 0;
    color: #fff;
    box-shadow: none;
}

.dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all .3s;
    background: #444;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
    background: #555;
    color: #fff;
}

.sidebar .logo {
    padding: 40px 20px;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar .logo a {
    display: inline-block;
    width: 172px;
    height: 34px;
    border: 0;
    text-indent: -999999px;
}

.sidebar ul.menu-elements {
    padding: 10px 0;
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
    outline: 0;
    background: #555;
    color: #fff;
}

.sidebar ul li a i {
    margin-right: 5px;
}

.sidebar ul li.active > a,
a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a {
    background: #444;
    padding-left: 30px;
    font-size: 14px;
}

.sidebar ul ul li.active > a {
    background: #555;
}

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

*/




/* Sidebar styles*/

.bold{
    font-weight: bold;
}

.border-left{
    border-left: 0.0625rem rgba(145, 158, 171, 0.24) dashed;
}

.hover:hover{
    color: #EEE !important;
    background-color: #704e2eb9;
}

/* Form styles */

.submit-button{
    display: flex;
    width: 29.625rem;
    height: 3.625rem;
    padding: 0.6875rem 1.375rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: rgba(81, 39, 0, 0.70);
    box-shadow: 0px 8px 16px 0px rgba(81, 39, 0, 0.40);
    color: var(--08-common-01-white, #FFF);
    font-family: IRANSans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; 
    text-decoration: none;
    transition: all .5s;
    margin-top: 3rem;
}

.submit-button:hover{
    background: rgba(55, 26, 0, 0.7);
}

.forgot-password{
    direction: rtl;
    color: #704E2E;
    font-family: IRANSans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; 
}

.forgot-password{
    color: #704E2E;
    font-family: IRANSans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; 
}

/* Form Input Style */

.text-input{
    width: 29.625rem !important; 
    padding: 1rem !important;
    align-items: right;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    direction: rtl;
}

.text-input:focus{
    border-color: none !important;
    box-shadow: none !important;
}



.label{
    background-color: white;
    color: #919EAB;
    font-size: 1.2rem;
    direction: rtl;
    position: relative;
    top: -44px;
    right: 1rem;
    transition: all 0.3s ease-out;
    
}

.text-input:focus~label ,
.text-input:active~label,
.text-input:not(:placeholder-shown)~label{
    transform: translateY(-30px);
    color: #919EAB;
    font-size: .9rem;
} 


/* Table Style */

.table-container{
    border-radius: 16px;
    background: var(--12-background-light-02-paper, #FFF);
    box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.20);
}

.table-style{
    text-align: center;
    line-height: 60px !important;
}


.table-head{
    border-radius: 20px;
    background-color: #F4F6F8;
}

.table-head > td{
    background-color: transparent !important;
}

.table-status-success{
    border-radius: 6px;
    padding: 2px;
    color: #229A16 !important;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

.table-status-danger{
    border-radius: 6px;
    padding: 2px;    
    color: #B72136 !important;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

.table-foot{
    border-top: #919EAB solid 1px !important;
}

.btn-add{
    color: #FFF !important;
    display: flex;
    padding: 6px 16px !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #00AB55 !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 171, 85, 0.24);
    transition: all ease-in .3s;
}

.btn-add:hover{
    background-color: #009a4d !important;
}